zope.interface==5.4.0
zope.event==4.5.0
zipp==3.6.0
zict==2.0.0
yapf==0.31.0
xmltodict==0.12.0
xlwt==1.3.0
xlwings==0.24.9
XlsxWriter==3.0.1
xlrd==2.0.1
wurlitzer==2.1.1
wrapt==1.12.1
widgetsnbextension==3.5.1
whichcraft==0.6.1
wheel==0.37.0
Werkzeug==2.0.2
webencodings==0.5.1
wcwidth==0.2.5
watchdog==2.1.3
urllib3==1.26.7
uritemplate==4.1.1
Unidecode==1.2.0
unicodecsv==0.14.1
ujson==4.0.2
typing-extensions==4.9.0
typed-ast==1.4.3
traitlets==5.1.0
tqdm==4.62.3
tornado==6.1
toolz==0.11.1
toml==0.10.2
tinycss==0.4
tifffile==2021.7.2
three-merge==0.1.1
threadpoolctl==2.2.0
textdistance==4.2.1
text-unidecode==1.3
testpath==0.5.0
terminado==0.9.4
tblib==1.7.0
TBB==0.2
tables==3.6.1
sympy==1.9
statsmodels==0.12.2
sqlparse==0.4.4
SQLAlchemy==1.4.22
spyder==5.1.5
spyder-kernels==2.1.3
sphinxcontrib-websupport==1.2.4
sphinxcontrib-serializinghtml==1.1.5
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-applehelp==1.0.2
Sphinx==4.2.0
soupsieve==2.2.1
sortedcontainers==2.4.0
sortedcollections==2.1.0
snowballstemmer==2.1.0
sniffio==1.2.0
six==1.16.0
sip==4.19.13
singledispatch==3.7.0
simplegeneric==0.8.1
setuptools==58.0.4
Send2Trash==1.8.0
seaborn==0.11.2
scipy==1.7.1
scikit-learn==0.24.2
scikit-learn-intelex==2021.20210714.100439
scikit-image==0.18.3
ruamel-yaml-conda==0.15.100
Rtree==0.9.7
rsa==4.9
rope==0.19.0
resolvelib==0.5.4
requests==2.26.0
regex==2021.8.3
QtPy==1.10.0
qtconsole==5.1.1
QtAwesome==1.0.2
qstylizer==0.1.10
QDarkStyle==3.0.2
pyzmq==22.2.1
PyYAML==6.0
PyWavelets==1.1.1
pytz==2021.3
python-slugify==5.0.2
python-lsp-server==1.2.4
python-lsp-jsonrpc==1.0.0
python-lsp-black==1.0.0
python-dateutil==2.8.2
pytest==6.2.4
PySocks==1.7.1
pyrsistent==0.18.0
pyparsing==3.0.4
pyOpenSSL==21.0.0
pyodbc==4.0.0-unsupported
pymdown-extensions==10.7
pyls-spyder==0.4.0
pylint==2.9.6
PyJWT==2.8.0
Pygments==2.10.0
pyflakes==2.3.1
pyerfa==2.0.0
pyembed==1.3.3
pyembed-markdown==1.1.0
pydocstyle==6.1.1
pycurl==7.44.1
pycparser==2.20
pycosat==0.6.3
pycodestyle==2.7.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
py==1.10.0
ptyprocess==0.7.0
psutil==5.8.0
protobuf==4.24.4
proto-plus==1.22.3
prompt-toolkit==3.0.20
prometheus-client==0.11.0
poyo==0.5.0
ply==3.11
pluggy==0.13.1
pkginfo==1.7.1
pip==24.0
Pillow==8.4.0
pickleshare==0.7.5
pexpect==4.8.0
pep8==1.7.1
patsy==0.5.2
pathspec==0.7.0
pathlib2==2.3.6
path==16.0.0
partd==1.2.0
parso==0.8.2
pandocfilters==1.4.3
pandas==1.3.4
packaging==21.0
openpyxl==3.0.9
olefile==0.46
numpydoc==1.1.0
numpy==1.20.3
numexpr==2.7.3
numba==0.54.1
notebook==6.4.5
nose==1.3.7
nltk==3.6.5
networkx==2.6.3
nest-asyncio==1.5.1
nbformat==5.1.3
nbconvert==6.1.0
nbclient==0.5.3
nbclassic==0.2.6
navigator-updater==0.2.1
mypy-extensions==0.4.3
munkres==1.1.4
multipledispatch==0.6.0
msgpack==1.0.2
mpmath==1.2.1
more-itertools==8.10.0
mock==4.0.3
mkl-service==2.4.0
mkl-random==1.2.2
mkl-fft==1.3.1
mistune==0.8.4
mccabe==0.6.1
matplotlib==3.4.3
matplotlib-inline==0.1.2
MarkupSafe==1.1.1
Markdown==3.5.2
lxml==4.6.3
llvmlite==0.37.0
libarchive-c==2.9
lazy-object-proxy==1.6.0
kiwisolver==1.3.1
keyring==23.1.0
jupyterlab==3.2.1
jupyterlab-widgets==1.0.0
jupyterlab-server==2.8.2
jupyterlab-pygments==0.1.2
jupyter==1.0.0
jupyter-server==1.4.1
jupyter-core==4.8.1
jupyter-console==6.4.0
jupyter-client==6.1.12
jsonschema==3.2.0
json5==0.9.6
joblib==1.1.0
Jinja2==2.11.3
jinja2-time==0.2.0
jedi==0.18.0
jdcal==1.4.1
itsdangerous==2.0.1
isort==5.9.3
ipywidgets==7.6.5
ipython==7.29.0
ipython-genutils==0.2.0
ipykernel==6.4.1
intervaltree==3.1.0
iniconfig==1.1.1
inflection==0.5.1
importlib-metadata==4.8.1
imagesize==1.2.0
imageio==2.9.0
imagecodecs==2021.8.26
idna==3.2
httplib2==0.22.0
html5lib==1.1
HeapDict==1.0.1
h5py==3.2.1
grpcio==1.59.0
grpcio-status==1.59.0
greenlet==1.1.1
googleapis-common-protos==1.61.0
google-resumable-media==2.6.0
google-crc32c==1.5.0
google-cloud-storage==2.11.0
google-cloud-firestore==2.12.0
google-cloud-core==2.3.3
google-auth==2.23.3
google-auth-httplib2==0.1.1
google-api-python-client==2.103.0
google-api-core==2.12.0
gmpy2==2.0.8
glob2==0.7
gevent==21.8.0
future==0.18.2
fsspec==2021.8.1
fonttools==4.25.0
Flask==1.1.2
flake8==3.9.2
firebase-admin==6.2.0
filelock==3.3.1
fastcache==1.1.0
et-xmlfile==1.1.0
entrypoints==0.3
docutils==0.17.1
docopt==0.6.2
Django==4.2.9
distributed==2021.10.0
diff-match-patch==20200713
defusedxml==0.7.1
decorator==5.1.0
debugpy==1.4.1
dask==2021.10.0
daal4py==2021.3.0
cytoolz==0.11.0
Cython==0.29.24
cycler==0.10.0
cryptography==3.4.8
cookiecutter==1.7.2
contextlib2==0.6.0.post1
conda==4.10.3
conda-verify==3.4.2
conda-token==0.3.0
conda-repo-cli==1.0.4
conda-package-handling==1.7.3
conda-pack==0.6.0
conda-content-trust==0+unknown
conda-build==3.21.5
colorama==0.4.4
clyent==1.2.2
cloudpickle==2.0.0
click==8.0.3
charset-normalizer==2.0.4
chardet==4.0.0
cffi==1.14.6
certifi==2021.10.8
cachetools==5.3.1
cached-property==1.5.2
cachecontrol==0.13.1
brotlipy==0.7.0
Bottleneck==1.3.2
boto==2.49.0
bokeh==2.4.1
blog==1.0.1
bleach==4.0.0
black==19.10b0
bkcharts==0.2
bitarray==2.3.0
binaryornot==0.4.4
beautifulsoup4==4.10.0
backports.weakref==1.0.post1
backports.tempfile==1.0
backports.shutil-get-terminal-size==1.0.0
backports.functools-lru-cache==1.6.4
backcall==0.2.0
Babel==2.9.1
autopep8==1.5.7
attrs==21.2.0
atomicwrites==1.4.0
async-generator==1.10
astropy==4.3.1
astroid==2.6.6
asn1crypto==1.4.0
asgiref==3.7.2
arrow==0.13.1
argon2-cffi==20.1.0
argh==0.26.2
appscript==1.1.2
appnope==0.1.2
applaunchservices==0.2.1
appdirs==1.4.4
anyio==2.2.0
ansible==5.4.0
ansible-core==2.12.3
anaconda-project==0.10.1
anaconda-navigator==2.1.1
anaconda-client==1.9.0
alabaster==0.7.12
locket==0.2.1